Progettare e implementare una web application denominata "EarthQuakeMonitor" in linguaggio Python. Sarà possibile utilizzare anche altri framework, come ad esempio Bootstrap, Openlayers, Jquery.

Pagina principale:
la pagina principale sarà una pagina di ricerca terremoti. Una FORM consentirà all'utente di inserire i filtri di ricerca elencati di seguito nel formato (nome, tipo, descrizione):
- starttime, string, Select date start. - [ YYYY-MM-DDThh:mm:ss | YYYY-MM-DD ] (ex. 2013-02-18T15:06:38)
- endtime, string, Select date end. - [ YYYY-MM-DDThh:mm:ss | YYYY-MM-DD ] (ex. 2013-02-19T17:06:38)
- minlat, number, Specify southern boundary for search (in WGS84).
- maxlat, number, Specify northern boundary for search (in WGS84).
- minlon, number, Specify western boundary for search (in WGS84).
- maxlon, number, Specify eastern boundary for search (in WGS84).
- lat, number, Specify the central latitude point for a radial search (in WGS84).
- lon, number, Specify the central longitude point for a radial search (in WGS84).
- minradius, number, Specify minimum distance from the geographic point defined by latitude and longitude (in Degrees).
- maxradius, number, Specify maximum distance from the geographic point defined by latitude and longitude (in Degrees).
- minradiuskm, number, Specify minimum distance from the geographic point defined by latitude and longitude. Kilometers.
- maxradiuskm, number, Specify maximum distance from the geographic point defined by latitude and longitude. Kilometers. 
- minmag, number, Limit to events with a magnitude larger than or equal to the specified minimum.
- maxmag, number, Limit to events with a magnitude smaller than or equal to the specified maximum.
- mindepth, number, Specify minimum depth (kilometers), values increase positively with depth.
- maxdepth, number, Specify maximum depth (kilometers), values increase positively with depth.
- eventid, integer, Retrieve an event based on the unique INGV event id.

Per ottenere i risultati della ricerca deve essere utilizzato il seguente servizio REST https://ingv.github.io/openapi/fdsnws/event/0.0.1/event.yaml
Il risultato della ricerca verrà visualizzato in una tabella.

